{# eos- Loopback Interfaces #}
{% for loopback_interface in loopback_interfaces | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') %}
{%    if loopback_interface.name == "Loopback1" %}
!
interface {{ loopback_interface.name }}
   description VTEP
{%     if loopback_interface.ip_address is arista.avd.defined %}
   ip address {{ loopback_interface.ip_address }}
{%     endif %}
{%   endif %}
{% endfor %}
{# VxLAN interface #}
{# j2lint: disable=V1 #}
{# eos- VxLAN Interface #}
{% if vxlan_interface.Vxlan1 is arista.avd.defined %}
!
interface Vxlan1
{%     if vxlan_interface.Vxlan1.vxlan.source_interface is arista.avd.defined %}
   vxlan source-interface {{ vxlan_interface.Vxlan1.vxlan.source_interface }}
{%     endif %}
{%     if vxlan_interface.Vxlan1.vxlan.udp_port is arista.avd.defined %}
   vxlan udp-port {{ vxlan_interface.Vxlan1.vxlan.udp_port }}
{%     endif %}
{% endif %}
{# eos - prefix-lists #}
{% for prefix_list in prefix_lists | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') %}
{%     for sequence in prefix_list.sequence_numbers | arista.avd.convert_dicts('sequence') | arista.avd.natural_sort('sequence') %}
{%       if sequence.sequence == 20   %}
!
ip prefix-list {{ prefix_list.name }}
{%         if sequence.action is arista.avd.defined %}
   seq {{ sequence.sequence }} {{ sequence.action }}
{%         endif %}
{%       endif %}
{%     endfor %}
{% endfor %}
{# Router virtual mac address #}
{% include 'eos/virtual-router-mac-address.j2' %}