{# terminal settings #}
{% include 'eos/terminal-settings.j2' %}
{# service routing protocols model #}
{% include 'eos/service-routing-protocols-model.j2' %}
{# logging #}
{% include 'eos/logging.j2' %}
{# spanning-tree #}
{% if spanning_tree is arista.avd.defined %}
!
{%     if spanning_tree.mode is arista.avd.defined() %}
spanning-tree mode {{ spanning_tree.mode }}
{%     endif %}
{% endif %}
!
aaa authorization exec default local none
{# users #}
{% if local_users is arista.avd.defined %}
{%     for local_user in local_users | arista.avd.convert_dicts('name') | arista.avd.natural_sort('name') %}
{%         if local_user.name == "admin" %}
!
{%           set local_user_cli = "username " ~ local_user.name %}
{%           if local_user.privilege is arista.avd.defined %}
{%               set local_user_cli = local_user_cli ~ " privilege " ~ local_user.privilege %}
{%           endif %}
{%           if local_user.role is arista.avd.defined %}
{%               set local_user_cli = local_user_cli ~ " role " ~ local_user.role %}
{%           endif %}
{%           if local_user.sha512_password is arista.avd.defined %}
{%               set local_user_cli = local_user_cli ~ " secret sha512 " ~ local_user.sha512_password %}
{%           elif local_user.no_password is arista.avd.defined(true) %}
{%               set local_user_cli = local_user_cli ~ " nopassword" %}
{%           endif %}
{{ local_user_cli }}
{%         endif %}
{%     endfor %}
{% endif %}
{# clock #}
{% include 'eos/clock.j2' %}
{# VRF Instances #}
{% include 'eos/vrf-instances.j2' %}
{# Management Interfaces #}
{#% include 'eos/management-interfaces.j2' %#}
{# IP Routing #}
{% include 'eos/ip-routing.j2' %}
{# Static Route #}
{% include 'eos/static-routes.j2' %}
{# banner #}
{% include 'eos/banners.j2' %}
! EVE-NG 사용시 bfd 타이머 조정, BGP peer가 많고 table 많을경우도 
!
router bfd
   interval 1200 min-rx 1200 multiplier 3 default
!
! 개인적인 스크립트 사용
alias gt bash python /mnt/flash/min-20.06.17.py %1
!
management api http-commands
   no shutdown
!
end