
	from EapiClientLib import EapiClient
	import subprocess

	switch = EapiClient(disableAaa=True, privLevel=15)


	cli_command = "show ip interface brief | json"
	result = switch.runCmds( 1, [cli_command])
	data = result["result"][0]


	ip = data["interfaces"]["Management1"]["interfaceAddress"]["ipAddr"]["address"]


	cli_command = "sh version | json"
	result = switch.runCmds( 1, [cli_command])
	data = result["result"][0]
	sysmac = data["systemMacAddress"]

	requestUrl = "http://172.16.14.72:5000/bootstrap/202208161105/" + ip + "/" + sysmac
			

	cli_command = "curl " + requestUrl
	subprocess.call(cli_command, shell=True)
	